body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 400px;
    background-color: #5e8083;
    box-shadow: 0 0 4px black;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.input {
    display: flex;
    width: 250px;
    height: 32px;
    justify-content: space-between;
}
.input label {
    font-size: 20px;
    font-weight: bold;
}
.input input {
    width: 180px;
    height: 32px;
    font-size: 18px;
    text-align: center;
    border: none;
}
button {
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    background-color: #f1eaee;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}
.result {
    background-color: #3c5858;
    width: 300px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    color: black;
    font-size: 20px;
}